<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WelHome">

        <!-- MAIN LAUNCHER (singleTop + deep link opcional) -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WelHome"
            android:launchMode="singleTop">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

            <!-- (Opcional) para abrir con welhome://filterResults -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="welhome"
                    android:host="filterresults" />
            </intent-filter>
        </activity>

        <!-- LAUNCHER: Splash decide Welcome vs Main/OwnerMain -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.WelHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.biometric.BiometricLoginActivity"
            android:exported="false"
            android:label="Biometric Login"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.forgot.ForgotPasswordActivity"
            android:exported="false"
            android:label="Forgot Password"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.filterView.FilterActivity"
            android:exported="false"
            android:label="Filters"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.filterView.results.FilterResultsActivity"
            android:exported="true"
            android:label="Results"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>


        <activity
            android:name=".ui.detailView.DetailHousingActivity"
            android:exported="false"
            android:label="Detail"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDw_k90Gzr2HIC3lbizsqcOrFSBecEZkWg" />

        <activity
            android:name=".ui.mapsearch.MapSearchActivity"
            android:exported="true" />

        <activity
            android:name=".ui.createPostView.CreatePostActivity"
            android:exported="true"
            android:label="Create Post"
            android:theme="@style/Theme.WelHome" />

        <activity
            android:name=".ui.forum.ForumActivity"
            android:exported="true"
            android:label="Forum"
            android:theme="@style/Theme.WelHome" />
        <activity android:name=".ui.createforumpost.CreateForumPostActivity"
            android:exported="true"
            android:label="Create Forum Post"
            android:theme="@style/Theme.WelHome" />
        <activity
            android:name=".ui.visits.VisitsActivity"
            android:exported="true"
            android:label="Visits"
            android:theme="@style/Theme.WelHome" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.createAccountView.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.WelHome">
            <!-- intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter -->
        </activity>
        <activity
            android:name=".ui.createAccountView.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.WelHome" />

        <!-- ✅ Servicio de FCM en tu package .notification -->
        <service
            android:name=".notification.MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- (Opcional) Canal por defecto si usas notificaciones automáticas de FCM -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="trending_filters" />

        <activity
            android:name=".ui.ownerMainView.OwnerMainActivity"
            android:exported="true"
            android:theme="@style/Theme.WelHome">

        </activity>

        <activity
            android:name=".ui.bookVisit.BookVisitActivity"
            android:exported="false"
            android:theme="@style/Theme.WelHome"/>

        <activity
            android:name=".ui.ownerVisitsDetail.OwnerVisitDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.WelHome" />

    </application>
</manifest>
